<div class="container">

  <div ng-include="'app/components/navbar/navbar.html'"></div>

  <p>
    volume
    <select ng-model='volume' ng-change='updateText()' ng-options="volume for volume in max_volumes">
    </select>

    line feed
    <select ng-model='linefeed' ng-change='updateText()' ng-options="linefeed for linefeed in max_linefeeds">
    </select>
  </p>
  <p>
    <input ng-model='increment' ng-change='updateText()' type='checkbox' value='1'>increment</input>
    　
    sign
    <select ng-model='increment_sign' ng-change='updateText()'>
      <option value='#'>#</option>
      <option value='$'>$</option>
      <option value='%'>%</option>
      <option value='&amp;'>&</option>
      <option value='@'>@</option>
      <option value='+'>+</option>
      <option value='*'>*</option>
      <option value='?'>?</option>
      <option value='_'>_</option>
      <option value='-'>-</option>
    </select>
    　
    start
    <select name='increment_start'>
      <option selected='selected' value='0'>0</option>
      <option value='1'>1</option>
    </select>
    　
    digit
    <select name='increment_digit'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
      <option value='6'>6</option>
      <option value='7'>7</option>
      <option value='8'>8</option>
      <option value='9'>9</option>
      <option value='10'>10</option>
    </select>
  </p>
  <p>
    <input type='checkbox' value='1'>template</input>
    　
    sign
    <input name='template_sign' size='5' type='text'>
    　
    parts
    <textarea cols='20' ng-model='template_text' rows='1'></textarea>
  </p>
  <p>
    <textarea cols='40' ng-model='text' rows='5' ng-change='updateText()'></textarea>
  </p>

  <p>
    <textarea cols='40' rows='20'>{{amplifiedText}}</textarea>
  </p>
</div>
